:root {
  --main-light-color: #00aeef;
  --main-dark-color: #0033a1;
  --neutral-dark-color: #000;
  --neutral-med-color: #bebdbe;
  --neutral-light-color: #fff;
}

html {
  font-family: 'Roboto', sans-serif;
}

.masthead {
  background-color: var(--neutral-med-color);
}

.logo {
  font-family: 'Abril Fatface', cursive;
  color: var(--main-dark-color);
}

h1, h2, h3, h4 {
  color: var(--main-dark-color);
}

.btn {
  background-color: var(--main-dark-color);
  border-color: var(--main-dark-color);
}

nav li a {
  color: var(--neutral-dark-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--main-dark-color);
}

button a {
  color: var(--neutral-light-color);
}

/* .card {
  border: var(--neutral-med-color) solid 1pt;
  border-radius: 1rem;
} */

.link {
  color: var(--main-light-color);
}

.current {
  color: var(--main-dark-color);
}

footer {
  background-color: var(--neutral-dark-color);
  color: var(--neutral-light-color);
}
