:root {
  --main-light-color: #00aeef;
  --main-dark-color: #0033a1;
  --neutral-dark-color: #000;
  --neutral-med-color: #bebdbe;
  --neutral-light-color: #fff;
  --contrast-color: #ff5dab;
}

html {
  font-family: Roboto, sans-serif;
}

.masthead {
  background-color: var(--neutral-med-color);
}

.logo {
  font-family: "Abril Fatface", cursive;
  color: var(--main-dark-color);
}

.line-bottom {
  border-bottom: var(--neutral-med-color) solid 1px;
}

h1, h2, h3, h4 {
  color: var(--main-dark-color);
}

.blue-text {
  color: var(--main-light-color);
}

.btn {
  background-color: var(--neutral-dark-color);
  border-color: var(--neutral-dark-color);
}

.btn:hover {
  background-color: var(--main-light-color);
  border-color: var(--main-light-color);
}

nav li a {
  color: var(--neutral-dark-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--main-light-color);
}

.link {
  color: var(--contrast-color);
}

.current {
  color: var(--main-dark-color);
}

footer {
  background-color: var(--neutral-dark-color);
  color: var(--neutral-light-color);
}
